@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900');
/* 루트 요소에 기본글자 크기 설정 */
html{
  font-size: 10px;
}
/* 본문의 기본 스타일 설정 */
body{
  font-size: 1.6rem;
  color: #181818;
  background-color: #fff;
  line-height: 1.15;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  margin: 0;
}
/* 하이퍼링크 기본 스타일 설정 */
a{
  color: inherit;
  text-decoration: none;

}
a:visited{
  color: #333;
}
/* 헤더 */
.header{
  background: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 10px 0 #333;
}
/* 로고, 대제목 */
.brand{
  margin: 0;
  float: left;
  padding: 1em;
}
.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.owner{
  color: rgb(248, 217, 158);
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
/* 메뉴 */
.navigation{
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
}
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu li {
  float: left;
  margin-left: 1em;
}
.menu a{
  display: block;
  padding: 1em;
}
.menu a:hover, .menu a:focus{
  color: rgba(57,50,16,1);
  font-weight: 900;
  text-decoration: underline;
}
/* index 페이지의 배경 이미지 지정 */
.main-bg{
  background: url('../assets/main-bg.jpg') no-repeat 0 0/cover;
  height: 100vh;
}
/* footer */
.footer{
  background: #fff;
  box-shadow: 0 -1px 10px 0 #333;
}
.main-bg .footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* 저작권 */
.copyright{
  display: block;
  text-align: center;
  padding: 2em;
}
/* index 페이지 education 섹션 */
.education{
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  padding: 1px 0 20px;
  margin: 100px 0;
}
.education-title{
  font-size: 6rem;
}
.education-time{
  font-size: 2rem;
}
.education-place{
  font-size: 2rem;
}
/* introduce 페이지의 about-me 섹션 */
.about-me{

  padding: 20px 100px;
  /* width: 1024px;
  margin: 0 auto; */
}
.about-photo{
  width: 100%;
}
.about-photo img{
  max-width: 100%;
  height: auto;
}